.memoryBoard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.memoryBoardRow {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
